.page-news-content{
    display: flex;
    justify-content: center;
    align-items: center;
    .article{
        padding: 10px;
        h2{
            text-align: center;
            padding-bottom: 15px;
        }
        .page-news{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 150px;
            .page-news-text,
            .page-news-img{
                display: inline-block;
            }
            .page-news-text{
                width:  330px;
            }
            .page-news-img{
                .articles-img{
                    height: 100px;
                    width: 140px;

                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }
}